<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="seri active"><a href="#seri" aria-controls="seri" role="tab" data-toggle="tab">Seri</a></li>
    <li role="presentation" class="emlak"><a href="#emlak" aria-controls="emlak" role="tab" data-toggle="tab">Emlak</a></li>
    <li role="presentation" class="oto"><a href="#oto" aria-controls="oto" role="tab" data-toggle="tab">Oto</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="seri">
        <article class="small clearfix col-md-12 col-xs-12">
            <img src="uploads/seri/1.jpg" />
            <div class="seri">
                <p class="details"><i>Eşya</i></p>
                <h1><a href="#">NİKE ROSHE RUN 259 değil sadece129 tl</a></h1>
            </div>
        </article>
        <article class="small clearfix col-md-12 col-xs-12">
            <img src="uploads/seri/2.jpg" />
            <div class="seri">
                <p class="details"><i>Eleman Arayanlar</i></p>
                <h1><a href="#">ALTINKOZADAN ALTIN DEĞERİNDE İŞ FIRSATI</a></h1>
            </div>
        </article>
        <article class="small clearfix col-md-12 col-xs-12">
            <img src="uploads/seri/3.jpg" />
            <div class="seri">
                <p class="details"><i>Eleman Arayanlar</i></p>
                <h1><a href="#">17-35 yaş arası Bayanların Dikkatine</a></h1>
            </div>
        </article>
        <article class="small clearfix col-md-12 col-xs-12">
            <img src="uploads/seri/4.jpg" />
            <div class="seri">
                <p class="details"><i>Eşya</i></p>
                <h1><a href="#">ŞOK FİYAT,SON FİYAT! AİRMAX 299 değil sadece139 tl</a></h1>
            </div>
        </article>
        <article class="small clearfix col-md-12 col-xs-12">
            <img src="uploads/seri/1.jpg" />
            <div class="seri">
                <p class="details"><i>Eşya</i></p>
                <h1><a href="#">NİKE ROSHE RUN 259 değil sadece129 tl</a></h1>
            </div>
        </article>
    </div>
    <div role="tabpanel" class="tab-pane" id="emlak">
        <article class="small clearfix col-md-12 col-xs-12">
            <img src="uploads/emlak/1.jpg" />
            <div class="emlak">
                <p class="details"><i>Kiralık Daire</i></p>
                <h1><a href="#">1.350 TL</a></h1>
                <span>Odunpazarı / <strong>Zafer Mh.</strong></span>
            </div>
        </article>
        <article class="small clearfix col-md-12 col-xs-12">
            <img src="uploads/emlak/2.jpg" />
            <div class="emlak">
                <p class="details"><i>Satılık Daire</i></p>
                <h1><a href="#">160.000 TL </a></h1>
                <span>Odunpazarı / <strong>Vişnelik Mh.</strong></span>
            </div>
        </article>
        <article class="small clearfix col-md-12 col-xs-12">
            <img src="uploads/emlak/3.jpg" />
            <div class="emlak">
                <p class="details"><i>Satılık Daire</i></p>
                <h1><a href="#">120.000 TL </a></h1>
                <span>Tepebaşı / <strong>Uluönder Mh.</strong></span>
            </div>
        </article>
        <article class="small clearfix col-md-12 col-xs-12">
            <img src="uploads/emlak/4.jpg" />
            <div class="emlak">
                <p class="details"><i>Kiralık Daire</i></p>
                <h1><a href="#">520TL </a></h1>
                <span>Tepebaşı / <strong>Uluönder Mh.</strong></span>
            </div>
        </article>
        <article class="small clearfix col-md-12 col-xs-12">
            <img src="uploads/emlak/5.jpg" />
            <div class="emlak">
                <p class="details"><i>Satılık Daire</i></p>
                <h1><a href="#">120.000 TL </a></h1>
                <span>Tepebaşı / <strong>Uluönder Mh.</strong></span>
            </div>
        </article>

    </div>
    <div role="tabpanel" class="tab-pane" id="oto">...</div>
</div>
