<div class="col-md-12 baslik kirmizi" id="yazar">
    <h2>YAZARLAR</h2>
    <a class="left carousel-control" href="#esyazarlar" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
    <a class="right carousel-control" href="#esyazarlar" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
</div>
<div id="esyazarlar" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
            <div class="row">
                <article class="small clearfix col-md-3 col-xs-12">
                    <img src="~/uploads/Yazarlar/1.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Fehim TAŞTEKİN</i></p>
                        <h1><a href="#">Selman Doktrini'ne Yemen şerhi</a></h1>
                    </div>
                </article>
                <article class="small clearfix col-md-3 col-xs-12">
                    <img src="~/uploads/Yazarlar/2.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Ezgi BAŞARAN</i></p>
                        <h1><a href="#">Bir Alevi genci IŞİD teröristi yapan nedir?</a></h1>
                    </div>
                </article>
                <article class="small clearfix col-md-3 col-xs-12">
                    <img src="~/uploads/Yazarlar/3.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Fehim TAŞTEKİN</i></p>
                        <h1><a href="#">Selman Doktrini'ne Yemen şerhi</a></h1>
                    </div>
                </article>
                <article class="small clearfix col-md-3 col-xs-12">
                    <img src="~/uploads/Yazarlar/4.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Fehim TAŞTEKİN</i></p>
                        <h1><a href="#">Selman Doktrini'ne Yemen şerhi</a></h1>
                    </div>
                </article>
            </div>
        </div>
        <div class="item">
            <div class="row">
                <article class="small clearfix col-md-3 col-xs-12">
                    <img src="~/uploads/Yazarlar/1.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Fehim TAŞTEKİN</i></p>
                        <h1><a href="#">Selman Doktrini'ne Yemen şerhi</a></h1>
                    </div>
                </article>
                <article class="small clearfix col-md-3 col-xs-12">
                    <img src="~/uploads/Yazarlar/2.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Ezgi BAŞARAN</i></p>
                        <h1><a href="#">Bir Alevi genci IŞİD teröristi yapan nedir?</a></h1>
                    </div>
                </article>
                <article class="small clearfix col-md-3 col-xs-12">
                    <img src="~/uploads/Yazarlar/3.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Fehim TAŞTEKİN</i></p>
                        <h1><a href="#">Selman Doktrini'ne Yemen şerhi</a></h1>
                    </div>
                </article>
                <article class="small clearfix col-md-3 col-xs-12">
                    <img src="~/uploads/Yazarlar/4.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Fehim TAŞTEKİN</i></p>
                        <h1><a href="#">Selman Doktrini'ne Yemen şerhi</a></h1>
                    </div>
                </article>
            </div>
        </div>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#esyazarlar" data-slide-to="0" class="active"></li>
        <li data-target="#esyazarlar" data-slide-to="1"></li>
    </ol>
</div>
