<div class="col-md-12 baslik turuncu">
    <h2>ŞEHİRDE BUGÜN</h2>
</div>
<div class="clearBoth"></div>
<article class="small clearfix col-md-12 col-xs-12">
    <img src="~/uploads/Etkinlik/thumbs/et1.jpg" />
    <div class="etkinlik">
        <p class="details"><i>Konser</i></p>
        <h1><a href="#">Hadise Konseri</a></h1>
        <span><i>10 Haziran Cumartesi</i></span>
    </div>
</article>
<article class="small clearfix col-md-12 col-xs-12">
    <img src="~/uploads/Etkinlik/thumbs/et2.jpg" />
    <div class="etkinlik">
        <p class="details"><i>Konser</i></p>
        <h1><a href="#">Hadise Konseri</a></h1>
        <span><i>10 Haziran Cumartesi</i></span>
    </div>
</article>
<article class="small clearfix col-md-12 col-xs-12">
    <img src="~/uploads/Etkinlik/thumbs/et3.jpg" />
    <div class="etkinlik">
        <p class="details"><i>Konser</i></p>
        <h1><a href="#">Hadise Konseri</a></h1>
        <span><i>10 Haziran Cumartesi</i></span>
    </div>
</article>
<article class="small clearfix col-md-12 col-xs-12">
    <img src="~/uploads/Etkinlik/thumbs/et4.jpg" />
    <div class="etkinlik">
        <p class="details"><i>Konser</i></p>
        <h1><a href="#">Hadise Konseri</a></h1>
        <span><i>10 Haziran Cumartesi</i></span>
    </div>
</article>
<article class="small clearfix col-md-12 col-xs-12">
    <img src="~/uploads/Etkinlik/thumbs/et1.jpg" />
    <div class="etkinlik">
        <p class="details"><i>Konser</i></p>
        <h1><a href="#">Hadise Konseri</a></h1>
        <span><i>10 Haziran Cumartesi</i></span>
    </div>
</article>



