<article class="small clearfix col-md-12 col-xs-12">
    <div class="eczane">
        <p class="details">Uygur Eczanesi</p>
        <span><i class="fa fa-phone"> 0222 233 1535</i></span>
        <span><i class="fa fa-map-marker"> Gökmeydan Mh. Ulus Cd. 33/B Ziyapaşa Camii Karşısı</i></span>
    </div>
</article>
<article class="small clearfix col-md-12 col-xs-12">
    <div class="eczane">
        <p class="details">İlkim Eczanesi</p>
        <span><i class="fa fa-phone"> 0222 234 3696</i></span>
        <span><i class="fa fa-map-marker"> Gökmeydan Mh. Ulus Cd. 33/B Ziyapaşa Camii Karşısı</i></span>
    </div>
</article>
<article class="small clearfix col-md-12 col-xs-12">
    <div class="eczane">
        <p class="details">Başak Eczanesi</p>
        <span><i class="fa fa-phone"> 0222 250 4929</i></span>
        <span><i class="fa fa-map-marker"> Gökmeydan Mh. Ulus Cd. 33/B Ziyapaşa Camii Karşısı</i></span>
    </div>
</article>
<article class="small clearfix col-md-12 col-xs-12">
    <div class="eczane">
        <p class="details">Sena Eczanesi</p>
        <span><i class="fa fa-phone"> 0222 340 4464</i></span>
        <span><i class="fa fa-map-marker"> Gökmeydan Mh. Ulus Cd. 33/B Ziyapaşa Camii Karşısı</i></span>
    </div>
</article>
