<article class="col-md-4 hidden-sm hidden-xs blog">
    <img src="~/uploads/Haber/1.jpg" />
    <div class="kategori spor">Spor</div>
    <div class="info">
        <h4>Theofanis Gekas Eskişehirspor'da</h4>
        <p></p>
    </div>
</article>
<article class="small clearfix visible-sm visible-xs sblog">
    <img src="~/uploads/Haber/1.jpg" class="overflowAndWidth"/>
    <div class="kategori spor">Spor</div>
    <div class="info">
        <h4>Theofanis Gekas Eskişehirspor'da</h4>
    </div>
</article>
<article class="col-md-4 hidden-sm hidden-xs blog">
    <img src="~/uploads/Haber/2.jpg" />
    <div class="kategori eskisehir">Eskişehir</div>
    <div class="info">
        <h4>Eskişehir'de Uyuşturucu Satıcılarına Operasyon</h4>
    </div>
</article>
<article class="small clearfix visible-sm visible-xs sblog">
    <img src="~/uploads/Haber/2.jpg" class="overflowAndWidth" />
    <div class="kategori eskisehir">Eskişehir</div>
    <div class="info">
        <h4>Eskişehir'de Uyuşturucu Satıcılarına Operasyon</h4>
    </div>
</article>
<article class="col-md-4 hidden-sm hidden-xs blog">
    <img src="~/uploads/Haber/3.jpg" />
    <div class="kategori turkiye">Türkiye</div>
    <div class="info">
        <h4>Aziz Yuhanna Kilisesi 1 milyon dolara satılıyor</h4>
    </div>
</article>
<article class="small clearfix visible-sm visible-xs sblog">
    <img src="~/uploads/Haber/3.jpg" class="overflowAndWidth" />
    <div class="kategori turkiye">Türkiye</div>
    <div class="info">
        <h4>Aziz Yuhanna Kilisesi 1 milyon dolara satılıyor</h4>
    </div>
</article>
<article class="col-md-4 hidden-sm hidden-xs blog">
    <img src="~/uploads/Haber/6.jpg" />
    <div class="kategori hayat">Hayat</div>
    <div class="info">
        <h4>Cate Blanchett'ten Natalie Portman'a annelik tavsiyesi...</h4>
        <p></p>
    </div>
</article>
<article class="small clearfix visible-sm visible-xs sblog">
    <img src="~/uploads/Haber/6.jpg" class="overflowAndWidth" />
    <div class="kategori hayat">Hayat</div>
    <div class="info">
        <h4>Cate Blanchett'ten Natalie Portman'a annelik tavsiyesi...</h4>
    </div>
</article>
<article class="col-md-4 hidden-sm hidden-xs blog">
    <img src="~/uploads/Haber/5.jpg" />
    <div class="kategori turkiye">Türkiye</div>
    <div class="info">
        <h4>Sigara içmek, tazminatsız işten atılma nedeni olamaz</h4>
    </div>
</article>
<article class="col-md-4 hidden-sm hidden-xs blog">
    <img src="~/uploads/Haber/4.jpg" />
    <div class="kategori spor">Spor</div>
    <div class="info">
        <h4>Kartepe kampında ilk antrenman</h4>
    </div>
</article>
<article class="col-md-4 hidden-sm hidden-xs blog">
    <img src="~/uploads/Haber/7.jpg" />
    <div class="kategori dunya">Dünya</div>
    <div class="info">
        <h4>Morales, Papa'ya orak çekiç şeklinde haç hediye etti</h4>
        <p></p>
    </div>
</article>
<article class="col-md-4 hidden-sm hidden-xs blog">
    <img src="~/uploads/Haber/8.jpg" />
    <div class="kategori eskisehir">Eskişehir</div>
    <div class="info">
        <h4>Eskişehir’de Plaj Sezonu Açılıyor</h4>
    </div>
</article>
<article class="col-md-4 hidden-sm hidden-xs blog">
    <img src="~/uploads/Haber/9.jpg" />
    <div class="kategori hayat">Hayat</div>
    <div class="info">
        <h4>Görenler Meg Ryan'ı tanıyamadı</h4>
    </div>
</article>
