<div class="carousel-inner">
    <figure class="item active">
        <img src="~/uploads/Haber/Slider/1.jpg" />
    </figure>
    <figure class="item">
        <img src="~/uploads/Haber/Slider/2.jpg" alt="Başlık" />
    </figure>
    <figure class="item">
        <img src="~/uploads/Haber/Slider/3.jpg" alt="Başlık" />
    </figure>
    <figure class="item">
        <img src="~/uploads/Haber/Slider/4.jpg" alt="Başlık" />
    </figure>
    <figure class="item">
        <img src="../uploads/slider/5.jpg" alt="Başlık" />
    </figure>
    <figure class="item">
        <img src="../uploads/slider/6.jpg" alt="Başlık" />
    </figure>
    <figure class="item">
        <img src="../uploads/slider/7.jpg" alt="Başlık" />
    </figure>
    <figure class="item">
        <img src="../uploads/slider/8.jpg" alt="Başlık" />
    </figure>
    <figure class="item">
        <img src="../uploads/slider/5.jpg" alt="Başlık" />
    </figure>
    <figure class="item">
        <img src="../uploads/slider/4.jpg" alt="Başlık" />
    </figure>
    <figure class="item">
        <img src="../uploads/slider/6.jpg" alt="Başlık" />
    </figure>
    <figure class="item">
        <img src="../uploads/slider/2.jpg" alt="Başlık" />
    </figure>
</div>
<!-- Indicators -->
<ol class="carousel-indicators hidden-xs">
    <li data-target="#esslider" data-slide-to="0" class="active">1</li>
    <li data-target="#esslider" data-slide-to="1">2</li>
    <li data-target="#esslider" data-slide-to="2">3</li>
    <li data-target="#esslider" data-slide-to="3">4</li>
    <li data-target="#esslider" data-slide-to="4">5</li>
    <li data-target="#esslider" data-slide-to="5">6</li>
    <li data-target="#esslider" data-slide-to="6">7</li>
    <li data-target="#esslider" data-slide-to="7">8</li>
    <li data-target="#esslider" data-slide-to="8">9</li>
    <li data-target="#esslider" data-slide-to="9">10</li>
    <li data-target="#esslider" data-slide-to="10">11</li>
    <li data-target="#esslider" data-slide-to="11">12</li>
</ol>
