
@{
    ViewBag.Title = "Index";
}

<section class"marginTop10">
    <div class="container">
        <div class="col-md-9 paddingRight10">

            <div class="col-md-8 padding0 ">
                <div id="esslider" class="carousel slide">
                    @Html.Partial("_HaberSlider")

                </div>
            </div>
            <div class="col-md-4 hidden-xs hidden-sm text-center paddingBanner">
                <img src="../Content/banner/s_banner1.jpg" class="img-responsive marginAuto" />
            </div>
            <div class="col-md-4 hidden-xs hidden-sm text-center paddingBanner top10">
                <img src="../Content/banner/s_banner2.jpg" class="img-responsive marginAuto" />
            </div>
            <div class="hidden-lg hidden-md text-center paddingBanner top40">
                <img src="../Content/banner/s_banner1.jpg" class="img-responsive marginAuto" />
            </div>
            <div class="hidden-lg hidden-md text-center paddingBanner top10">
                <img src="../Content/banner/s_banner2.jpg" class="img-responsive marginAuto" />
            </div>

            <div class="col-md-12 col-xs-12 hidden-md hidden-lg baslik kirmizi top40">
                <h2>ESKİŞEHİR</h2>
            </div>
            <div class="clear top5"></div>
            <div class="col-md-12 col-xs-12 hidden-md hidden-lg baslik mavi">
                <h2>TÜRKİYE</h2>
            </div>
            <div class="clear top5"></div>
            <div class="col-md-12 col-xs-12 hidden-md hidden-lg baslik yesil">
                <h2>SPOR</h2>
            </div>
            <div class="clear top5"></div>
            <div class="col-md-12 col-xs-12 hidden-md hidden-lg baslik mor">
                <h2>HAYAT</h2>
            </div>
            <div class="clear top5"></div>
            <div class="col-md-12 col-xs-12 hidden-md hidden-lg baslik turuncu">
                <h2>DÜNYA</h2>
            </div>




            <div class="clear height10"></div>
            <div class="top40">
                <div class="baslik kirmizi">
                    <h2>GÜNÜN HABERLERİ</h2>
                </div>
                <div class="top10">
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/1.jpg" />
                            <div class="kategori spor"><i class="fa fa-video-camera"> Spor</i></div>
                            <div class="info">
                                <h4>Theofanis Gekas Eskişehirspor'da</h4>
                                <p></p>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="small clearfix visible-sm visible-xs sblog">
                            <img src=" ../uploads/haberler/1.jpg" class="overflowAndWidth" />
                            <div class="kategori spor">Spor</div>
                            <div class="info">
                                <h4>Theofanis Gekas Eskişehirspor'da</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/2.jpg" />
                            <div class="kategori eskisehir"><i class="fa fa-microphone"> Eskişehir</i></div>
                            <div class="info">
                                <h4>Eskişehir'de Uyuşturucu Satıcılarına Operasyon</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="small clearfix visible-sm visible-xs sblog">
                            <img src="../uploads/haberler/2.jpg" class="overflowAndWidth" />
                            <div class="kategori eskisehir">Eskişehir</div>
                            <div class="info">
                                <h4>Eskişehir'de Uyuşturucu Satıcılarına Operasyon</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/3.jpg" />
                            <div class="kategori turkiye">Türkiye</div>
                            <div class="info">
                                <h4>Aziz Yuhanna Kilisesi 1 milyon dolara satılıyor</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="small clearfix visible-sm visible-xs sblog">
                            <img src=" ../uploads/haberler/3.jpg" class="overflowAndWidth" />
                            <div class="kategori turkiye">Türkiye</div>
                            <div class="info">
                                <h4>Aziz Yuhanna Kilisesi 1 milyon dolara satılıyor</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/6.jpg" />
                            <div class="kategori hayat">Hayat</div>
                            <div class="info">
                                <h4>Cate Blanchett'ten Natalie Portman'a annelik tavsiyesi...</h4>
                                <p></p>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="small clearfix visible-sm visible-xs sblog">
                            <img src=" ../uploads/haberler/6.jpg" class="overflowAndWidth" />
                            <div class="kategori hayat">Hayat</div>
                            <div class="info">
                                <h4>Cate Blanchett'ten Natalie Portman'a annelik tavsiyesi...</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/5.jpg" />
                            <div class="kategori turkiye">Türkiye</div>
                            <div class="info">
                                <h4>Sigara içmek, tazminatsız işten atılma nedeni olamaz</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/4.jpg" />
                            <div class="kategori spor">Spor</div>
                            <div class="info">
                                <h4>Kartepe kampında ilk antrenman</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/7.jpg" />
                            <div class="kategori dunya">Dünya</div>
                            <div class="info">
                                <h4>Morales, Papa'ya orak çekiç şeklinde haç hediye etti</h4>
                                <p></p>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/8.jpg" />
                            <div class="kategori eskisehir">Eskişehir</div>
                            <div class="info">
                                <h4>Eskişehir’de Plaj Sezonu Açılıyor</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/9.jpg" />
                            <div class="kategori hayat">Hayat</div>
                            <div class="info">
                                <h4>Görenler Meg Ryan'ı tanıyamadı</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/1.jpg" />
                            <div class="kategori spor">Spor</div>
                            <div class="info">
                                <h4>Theofanis Gekas Eskişehirspor'da</h4>
                                <p></p>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="small clearfix visible-sm visible-xs sblog">
                            <img src=" ../uploads/haberler/1.jpg" class="overflowAndWidth" />
                            <div class="kategori spor">Spor</div>
                            <div class="info">
                                <h4>Theofanis Gekas Eskişehirspor'da</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/2.jpg" />
                            <div class="kategori eskisehir">Eskişehir</div>
                            <div class="info">
                                <h4>Eskişehir'de Uyuşturucu Satıcılarına Operasyon</h4>
                            </div>
                        </article>
                    </a>
                    <a href="haberDetay.html">
                        <article class="col-md-4 hidden-sm hidden-xs blog">
                            <img src=" ../uploads/haberler/8.jpg" />
                            <div class="kategori eskisehir">Eskişehir</div>
                            <div class="info">
                                <h4>Eskişehir’de Plaj Sezonu Açılıyor</h4>
                            </div>
                        </article>
                    </a>
                </div>
            </div>


        </div>
        <div class="col-md-3 paddingBottom10">
            <div class="text-center">
                <img src="../Content/banner/s_banner3.jpg" class="img-responsive marginAuto" />
            </div>
            <div class="col-md-12 hidden-xs hidden-sm baslik kirmizi">
                <h2>ESKİŞEHİR</h2>
            </div>
            <div class="clear top5"></div>
            <div class="col-md-12 hidden-xs hidden-sm baslik mavi">
                <h2>TÜRKİYE</h2>
            </div>
            <div class="clear top5"></div>
            <div class="col-md-12 hidden-xs hidden-sm baslik yesil">
                <h2>SPOR</h2>
            </div>
            <div class="clear top5"></div>
            <div class="col-md-12 hidden-xs hidden-sm baslik mor">
                <h2>HAYAT</h2>
            </div>
            <div class="clear top5"></div>
            <div class="col-md-12 hidden-xs hidden-sm baslik turuncu">
                <h2>DÜNYA</h2>
            </div>

            <div class="clear top20"></div>
            <div class="col-md-12 ybaslik">
                <h2>YAZARLAR</h2>
            </div>
            <div class="clearfix top5 marginBottom10">
                <article class="small clearfix col-md-12 col-xs-12">
                    <img src="../uploads/yazarlar/1.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Fehim TAŞTEKİN</i></p>
                        <h1><a href="#">Selman Doktrini'ne Yemen şerhi</a></h1>
                    </div>
                </article>
                <article class="small clearfix col-md-12 col-xs-12">
                    <img src="../uploads/yazarlar/2.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Ezgi BAŞARAN</i></p>
                        <h1><a href="#">Bir Alevi genci IŞİD teröristi yapan nedir?</a></h1>
                    </div>
                </article>
                <article class="small clearfix col-md-12 col-xs-12">
                    <img src="../uploads/yazarlar/3.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Fehim TAŞTEKİN</i></p>
                        <h1><a href="#">Selman Doktrini'ne Yemen şerhi</a></h1>
                    </div>
                </article>
                <article class="small clearfix col-md-12 col-xs-12">
                    <img src="../uploads/yazarlar/4.jpg" />
                    <div class="yazarlar">
                        <p class="details"><i>Fehim TAŞTEKİN</i></p>
                        <h1><a href="#">Selman Doktrini'ne Yemen şerhi</a></h1>
                    </div>
                </article>
            </div>
            <aside class="banner hidden-sm hidden-xs">
                <img src="../Content/banner/s_banner4.jpg" />
            </aside>
        </div>
    </div>
</section>

