@model eskisehirNET.Data.Model.Eczane
@{
    ViewBag.Title = "Sil";
}

<h2>Eczane Silme</h2>

<h3>
    Bu eczaneyi silmek istiyormusunuz?
</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EczaneAdi)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.EczaneAdi)
        </dt>
    </dl>
</div>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        @Html.ActionLink("Listeye Dön", "Index")

    </div>
}

